<div class="container">
  <div class="row">
    <!-- Left Col Info -->
    <div class="col-lg-4 col-margin ">
      <div class="experience-box visual row row-margin">
        <div class="block-container no-pad">
          <!-- Contact Info -->
          <div class="row">
            <img class="col-md foo" src="assets\images\ProfilePic.png" style="width: 100%; height:auto;"
              alt="ProfilePic" />
            <div class="col-md">
              <h2>Keaton Smith</h2>
              <h3>Application Developer</h3>
              <div class="contact-info work-experience-block">
                <table>
                  <tr>
                    <td>
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </td>
                    <td>
                      <a href="mailto:keatonsmith510@gmail.com">
                        keatonsmith510@gmail.com</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="fa fa-mobile" aria-hidden="true"></i>
                    </td>
                    <td>
                      <a href="tel:334-538-1572"> 334-538-1572</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </td>
                    <td>
                      <a href="https://www.linkedin.com/in/keaton-smith-8b5156144/" target="/blank">

                        linkedin.com/keaton-smith
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </td>
                    <td>
                      <label>Columbus, OH</label>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="work-experience-block" *ngIf="extraExperience.languages">
            <div>
              <div class="skill-section-name">Languages</div>
              <div class="skill-pill" *ngFor="let language of extraExperience.languages">
                <label>{{ language }}</label>
              </div>
            </div>
          </div>
          <div class="work-experience-block" *ngIf="extraExperience.tools">
            <div>
              <div class="skill-section-name">Tools and Frameworks</div>
              <div class="skill-pill" *ngFor="let tool of extraExperience.tools"><label>{{ tool }}</label></div>
            </div>
          </div>
          <div class="work-experience-block" *ngIf="extraExperience.other">
            <div>
              <div class="skill-section-name">Other</div>
              <div class="skill-pill" *ngFor="let thing of extraExperience.other">
                <label>{{ thing }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Right Col Info -->
    <div class="col-lg col-margin">
      <!-- Education -->
      <div class="experience-box visual row row-margin">
        <div class="block-container">
          <h2>
            <i class="fa fa-graduation-cap" aria-hidden="true"></i> Education
          </h2>
          <div class="work-experience-block">
            <div class="employer">
              <table style="width: 100%">
                <tr>
                  <td>
                    <label class="position">
                      Bachelor's of Science in Computer Science
                    </label>
                    <label class="location">
                      Specialization in Software Engineering
                    </label>
                  </td>
                  <th rowspan="3" class="company-logo">
                    <img src="/assets/images/bgsu.png" style="width: 50px; height: auto" alt="BGSUImage" />
                  </th>
                </tr>
                <tr>
                  <td>
                    <label class="company">Bowling Green State University</label>
                    <label class="location"><i class="fa fa-globe" aria-hidden="true"></i>
                      Bowling Green, Ohio
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="tenure">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      Aug 2015 - May 2019 &nbsp;
                    </label>
                    <label> GPA: 3.89</label>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Work Experience -->
      <div class="experience-box visual row row-margin">
        <div class="block-container" *ngIf="workExperience">
          <h2>
            <i class="fa fa-suitcase" aria-hidden="true"></i> Work Experience
          </h2>
          <div *ngFor="let job of workExperience;let indexOfJob=index;">
            <div *ngIf="indexOfJob == expandedJobs" class="proj-btns">
              <button (click)="expandedJobHistory = !expandedJobHistory" style="min-width: 100%;">Click here to see
                experience before graduation!
                <i style="width:13px" [ngClass]="expandedJobHistory ? 'fa fa-caret-down':'fa fa-caret-right'"
                  aria-hidden="true"></i></button></div>
            <div [style.display]="(indexOfJob >= expandedJobs) && !expandedJobHistory ? 'none':'block'"
              class="work-experience-block">
              <div class="employer">
                <table style="width: 100%">
                  <tr>
                    <td class="position">{{ job.position }}</td>
                    <th rowspan="3" class="company-logo">
                      <img src="{{ job.image }}" style="width: 50px; height: auto" [alt]="job.employer + 'Image'" />
                    </th>
                  </tr>
                  <tr>
                    <td>
                      <label class="company">{{ job.employer }}</label>
                      <label class="location"><i class="fa fa-globe" aria-hidden="true"></i>
                        {{ job.location }}
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td class="tenure">
                      <label>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        {{ job.startDate }} - &nbsp;</label>
                      <label [ngClass]="job.endDate == 'Current' ? 'current' : ''">{{ job.endDate }}
                      </label>
                    </td>
                  </tr>
                </table>
              </div>
              <div>{{ job.description }}</div>
              <ul class="detail-list">
                <li *ngFor="let point of job.bulletPoints">{{ point }}</li>
              </ul>
              <ul class="detail-list">
                <li *ngFor="let link of job.links">
                  <a href="{{ link.url }}" target="/blank">{{ link.title }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Personal Projects -->
      <div class="experience-box visual row row-margin">
        <div class="block-container">
          <h2>
            <i class="fa fa-code-fork" aria-hidden="true"></i> Personal Projects
          </h2>
          <div *ngFor="let project of personalProjects" class="work-experience-block">
            <div class="employer">
              <table style="width: 100%">
                <tr>
                  <td class="position">{{ project.name }}</td>
                  <th rowspan="3" class="company-logo" *ngIf="project.logo">
                    <img src="{{ project.logo }}" style="width: 50px; height: auto" [alt]="project.name + 'Image'" />
                  </th>
                </tr>
                <tr>
                  <td class="tenure">
                    <label style="padding-right: 20px">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      {{ project.dateComplete }}
                    </label>
                    <label class="location">
                      {{ project.technology }}
                    </label>
                  </td>
                </tr>
              </table>
            </div>
            <div>
              {{ project.description }}
            </div>
            <div class="proj-btns btn-pad">
              <a *ngIf="project.aboutLink" href="{{ project.aboutLink }}" target="/blank"><i class="fa fa-book"
                  aria-hidden="true"></i>
                Read More
              </a>
              <a *ngIf="project.gitLink" href="{{ project.gitLink }}" target="/blank"><i class="fa fa-gitlab"
                  aria-hidden="true"></i>
                Git
              </a>
              <a *ngIf="project.localPlayLink" href="{{ project.localPlayLink }}"><i class="fa fa-gamepad"
                  aria-hidden="true"></i> Play Now
              </a>
              <a *ngIf="project.downloadLink" href="{{ project.downloadLink }}" target="/blank"><i
                  class="fa fa-download" aria-hidden="true"></i> Download
              </a>
            </div>
            <div class="container" style="padding-top:20px;" *ngIf="project.images[0]">
              <div class="row">
                <div class="col" *ngFor="let image of project.images;let imgIndex=index;">
                  <!-- <img src="{{ image }}" style="width: 50%; height: auto" [alt]="project.name + 'Image'" /> -->
                  <ng-ns-image-modal imageSource='{{ image }}' altText="{{project.name}}Image"></ng-ns-image-modal>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>`