/* You can add global styles to this file, and also import other style files */

// Import common styles
@import 'app-common';
@import '~bootstrap/dist/css/bootstrap.css';


$site-orange: #ff4700;
$site-accent: #343a40;
$site-accent2: rgb(163, 162, 162);